<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuciFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenue sur LuciFlow</h1>

    <!-- Animation de chargement -->
    <div id="loading" class="loading">
        <div class="spinner"></div>
        <p>Chargement en cours...</p>
    </div>

    <!-- Formulaire de chargement de fichier -->
    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
        <label for="file">Sélectionnez un fichier audio :</label>
        <input type="file" id="file" name="file" accept=".wav, .mp3, .ogg" required>
        <button type="submit">Convertir en texte</button>
    </form>

    {% if output_data %}
    <div class="output">
        <h2>Résultat :</h2>
        <div class="output-form">
            <form action="/save" method="post" class="form-inline">
                <input type="hidden" name="output_data" value="{{ output_data }}">
                <button type="submit">Sauvegarder en .doc</button>
            </form>
            <form action="/save_txt" method="post" class="form-inline">
                <input type="hidden" name="output_data" value="{{ output_data }}">
                <button type="submit">Sauvegarder en .txt</button>
            </form>
        </div>
        <p>{{ output_data }}</p>
    </div>
    {% endif %}

    <img src="{{ url_for('static', filename='background.svg') }}" alt="LuciFlow Logo" class="logo">
    
    <script>
        // Fonction pour afficher l'animation de chargement
        function showLoading() {
            document.getElementById("loading").style.display = "flex";
        }
    </script>
</body>
</html>
